body {
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.wave {
  background-image: var(--wave);
  height: 216px;
  width: 100%;
  background-position: center;
  background-size: cover;
  transform: translateY(var(--translate-y));
  position: relative;
  z-index: -1;
  margin-bottom: var(--translate-y);
}

.portfolio-card {
  width: 365px;
  height: 430px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.portfolio-card .portfolio-image {
  height: max-content;
  width: max-content;
  position: relative;
}
.portfolio-card .portfolio-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.portfolio-card .portfolio-image a {
  color: white;
  position: absolute;
  bottom: 5px;
  right: 0;
  padding: 1rem 3rem;
  font-weight: 500;
  font-size: large;
}

.profile-picture {
  clip-path: circle(45%);
  width: max-content;
  height: max-content;
}

.contact-card {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem;
  border-radius: 1rem;
}

.form-control {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
}
.form-control i {
  width: 2rem;
  font-size: 2rem;
}
.form-control input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

/*# sourceMappingURL=style.css.map */
