.container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
@media (min-width: 768px) {
  .container {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}
@media (min-width: 1024px) {
  .container {
    padding-left: 6.25rem;
    padding-right: 6.25rem;
  }
}
@media (min-width: 1280px) {
  .container {
    padding-left: 8.75rem;
    padding-right: 8.75rem;
  }
}
@media (min-width: 1536px) {
  .container {
    padding-left: 12.5rem;
    padding-right: 12.5rem;
  }
}
.btn {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 0.25rem;
  border-style: none;
  font-weight: 600;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
.bg-light {
  --tw-bg-opacity: 1;
  background-color: rgba(251, 238, 255, var(--tw-bg-opacity));
}
.bg-transparent {
  background-color: transparent;
}
.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgba(123, 49, 143, var(--tw-bg-opacity));
}
.bg-red-200 {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 202, 202, var(--tw-bg-opacity));
}
.bg-secondary {
  --tw-bg-opacity: 1;
  background-color: rgba(76, 49, 143, var(--tw-bg-opacity));
}
.bg-opacity-90 {
  --tw-bg-opacity: 0.9;
}
.border-light {
  --tw-border-opacity: 1;
  border-color: rgba(251, 238, 255, var(--tw-border-opacity));
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-tl-full {
  border-top-left-radius: 9999px;
}
.border-solid {
  border-style: solid;
}
.border-none {
  border-style: none;
}
.border-2 {
  border-width: 2px;
}
.block {
  display: block;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.grid {
  display: -ms-grid;
  display: grid;
}
.hidden {
  display: none;
}
.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.flex-wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.justify-items-center {
  justify-items: center;
}
.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.float-right {
  float: right;
}
.font-700 {
  font-weight: 700;
}
.font-500 {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
.font-semibold {
  font-weight: 600;
}
.h-20 {
  height: 5rem;
}
.h-full {
  height: 100%;
}
.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-5xl {
  font-size: 3rem;
  line-height: 1;
}
.text-9xl {
  font-size: 8rem;
  line-height: 1;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.leading-6 {
  line-height: 1.5rem;
}
.list-none {
  list-style-type: none;
}
.m-0 {
  margin: 0px;
}
.m-auto {
  margin: auto;
}
.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.my-20 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}
.my-15 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}
.ml-auto {
  margin-left: auto;
}
.mb-10 {
  margin-bottom: 2.5rem;
}
.mt-40 {
  margin-top: 10rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.mt-10 {
  margin-top: 2.5rem;
}
.mt-30 {
  margin-top: 7.5rem;
}
.mt-20 {
  margin-top: 5rem;
}
.mt-5 {
  margin-top: 1.25rem;
}
.max-w-72 {
  max-width: 18rem;
}
.min-h-screen {
  min-height: 100vh;
}
.min-h-100vh {
  min-height: 100vh;
}
.object-contain {
  -o-object-fit: contain;
  object-fit: contain;
}
.overflow-hidden {
  overflow: hidden;
}
.p-0 {
  padding: 0px;
}
.p-5 {
  padding: 1.25rem;
}
.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.pt-5 {
  padding-top: 1.25rem;
}
.pb-20 {
  padding-bottom: 5rem;
}
.pt-24 {
  padding-top: 6rem;
}
.pb-10 {
  padding-bottom: 2.5rem;
}
.pr-5 {
  padding-right: 1.25rem;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.top-0 {
  top: 0px;
}
.right-0 {
  right: 0px;
}
.top-20 {
  top: 5rem;
}
.text-center {
  text-align: center;
}
.text-primary {
  --tw-text-opacity: 1;
  color: rgba(123, 49, 143, var(--tw-text-opacity));
}
.text-secondary {
  --tw-text-opacity: 1;
  color: rgba(76, 49, 143, var(--tw-text-opacity));
}
.text-black {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}
.text-light {
  --tw-text-opacity: 1;
  color: rgba(251, 238, 255, var(--tw-text-opacity));
}
.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.underline {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.w-0 {
  width: 0px;
}
.w-full {
  width: 100%;
}
.w-2\/5 {
  width: 40%;
}
.w-75 {
  width: 18.75rem;
}
.w-9\/10 {
  width: 90%;
}
.z-20 {
  z-index: 20;
}
.z-100 {
  z-index: 100;
}
.z-4 {
  z-index: 4;
}
.gap-5 {
  grid-gap: 1.25rem;
  gap: 1.25rem;
}
.gap-10 {
  grid-gap: 2.5rem;
  gap: 2.5rem;
}
.gap-20 {
  grid-gap: 5rem;
  gap: 5rem;
}
.gap-6 {
  grid-gap: 1.5rem;
  gap: 1.5rem;
}
.gap-8 {
  grid-gap: 2rem;
  gap: 2rem;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.transition-all {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  transition-duration: 150ms;
}
@media (min-width: 768px) {
  .md\:block {
    display: block;
  }
  .md\:hidden {
    display: none;
  }
  .md\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  .md\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
  .md\:max-w-max {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  .md\:min-h-max {
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
  }
  .md\:static {
    position: static;
  }
  .md\:w-auto {
    width: auto;
  }
  .md\:w-3\/5 {
    width: 60%;
  }
  .md\:gap-10 {
    grid-gap: 2.5rem;
    gap: 2.5rem;
  }
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  .xl\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .xl\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }
  .xl\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .xl\:px-30 {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }
  .xl\:w-7\/10 {
    width: 70%;
  }
  .xl\:w-3\/10 {
    width: 30%;
  }
  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1536px) {
  .\32 xl\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .\32 xl\:text-7xl {
    font-size: 4.5rem;
    line-height: 1;
  }
  .\32 xl\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}